    .main_messages
      .main_messages_name 
        = message.user.name
      .main_messages_time 
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .main_messages_coments
      - if message.content.present?
        %p.main_messages_comennts_rial
          = message.content
      = image_tag message.image.url, class: 'Message__image' if message.image.present?