.side-bar
  .side-bar__header_top
    .side-bar__header
      .side-bar__header__name
        = current_user.name
      .side-bar__header__icons
        .side-bar_cog
          = icon('fas', 'cog', class: 'icon')
        .side-bar_edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'edit',class: 'icon')

  .side-bar__group-list
    .Contents
      .Contents__message
        techcamp
      .group_message
        まだメッセージありません
    .Contents
      .Contents__message
        techcamp
      .group_message
        まだメッセージありません