.side-bar
  .sideb-bar__header_top
    .side-bar__header
      .side-bar__header__name
        YUUICHI
      .side-bar__header__icons
        .side-bar_cog
          = icon('fas', 'cog', class: 'icon')
        .side-bar_edit
          = icon('fas', 'edit',class: 'icon')
  .side_bar__group-list
    .Contents
      .Contents__message
        techcamp
      .group_message
        まだメッセージありません
    .Contents
      .Contents__message
        techcamp
      .group_message
        まだメッセージありません

