* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  background-color: #253141;

  &__header_top {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  
    .side-bar__header {
      height: 20px;
      display: flex;
      justify-content: space-between;
      width :260px;

      &__name {
        font-size: 16px;
        color: #ffffff;
      }  

      &__icons {
        display: flex;
      
        .side-bar_cog {
          color: #ffffff;
          margin-right: 5px;
          a{
            color: #ffffff;
          }
        }

        .side-bar_edit {
          color: #ffffff;
          a{
            color: #ffffff;
          }
        }
      }
    }
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .Contents{
      box-sizing: border-box;
      width: 300px;
      padding: 20px 20px 40px;
      color: #ffffff;
      &__message{
        margin: 0px 20px 5px 20px;
        font-size: 15px;
        color: #ffffff;
      }
      .group_message{
        font-size: 11px;
        margin: 0px 20px 0px 20px;
        color: #ffffff;
      }
    }
  }
}


.main_group_list{
  width: calc(100vw - 300px);
  height: 100px;
  background-color: #ffffff;
  &__main_header{
    height: 100px;
    display: flex;
    justify-content: space-between;

    &__tmp{
       margin-left: 40px;
      &__main_test{
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &___main_member{
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 40px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__main_edit{
      height: 40px;
      width: 72px;
      margin-top: 28px;
      margin-right: 40px;
      padding: 5px 20px;
      font-size: 16px;
      color: #38aef0;
      display: block;
      border: 1px solid #38AEF0;
      a{
        color: #38aef0;
      }
    }
  }
}

.main_chat{
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);;
  background-color: #fafafa;
  padding: 40px;

  .main_messages{
    display: frex;
    align-items: center;
    display: flex;
    &__name{
      font-size: 16px;
      color: #333333;
    }
    &__time{
      font-size: 12px;
      color: #999999;
    }
  }
  &__coments{
    margin-bottom: 46px;
    .main_messages_coments_rial{
      font-size: 14px;
      color: #434A54
    }
  }
}

.form {
  height: 90px;
  padding: 20px 40px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  .input-box {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    &__text {
      height: 50px;
      width: 100%;
      color: #434a54;
      border-style: none;
      padding: 0 40px 0 10px;
    }
    &__image {
      position: absolute;
      top: 15px;
      right: 10px;
      color: pointer;
      font-size: 1.3rem;

      &__file {
        display: none;
      }
    }
  }
  .send{
    height: 50px;
    width: 100px;
    margin-left: 15px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #38aef0;
    .imput-box__submit_s{
      color: #fafafa;
      font-size: 15px;
    }
  }

}
.new_message{
  display: flex;
}